body {
  font-family: "Montserrat", sans-serif;
  }

  /* Navbar */
  .navbar {
  background-color: #ffffff;
  box-shadow: -1px 3px 20px #80808033;
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-collapse {
  transition: max-height 0.5s ease-out;
}

@media (max-width: 991.98px) {
 
  .navbar-collapse {
      max-height: 0;
      overflow: hidden;
  }
  .show ul.navbar-nav {
    column-gap: 37px!important;
    background: #8cc150a3 !important;
    position: fixed!important;
    height: 100%!important;
    top: 0px!important;
    padding: 21px!important;
    right: 1px!important;
    transition: width 2s, height 4s;
    z-index: 100;
}
div#carouselServicesIndicators .carousel-control-prev {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: -12rem!important;
  filter: brightness(8)!important;
}
div#carouselinfoControlsNoTouching button {
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: -40rem!important;
  filter: invert(1);
}
div#carouselServicesIndicators .carousel-control-next {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: -12rem!important;
  filter: brightness(3);
}
  button.navbar-toggler.collapsed {
    position: absolute!important;
    right: 22px!important;
    filter: brightness(10)!important;
}
.container-fluid.text-objetivo.text-center {
  margin-bottom: 6rem;
  margin-top: -27px;
}
button.navbar-toggler {
  filter: brightness(8);
  
}
  nav.navbar.navbar-expand-lg.navbar-dark {
    
    background-image: url('../assets/imgs/hero_bg.jpg')!important;
}
  .navbar-collapse.show {
      max-height: 100vw; /* Ajusta según tu contenido */
  }
}
  .navbar a {
    color: rgb(49, 49, 49);
    font-weight: bold;
  }
  .navbar a:hover {
    color: #9bc064;
  }
  a.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -1px;
}.navbar-brand img {
  width: 55px;
  margin-right: 10px;
  filter: contrast(0.7);
}
.navbar-toggler-icon {
  
  filter: brightness(0.1);
}
.text-objetivo {
  background-image: url(../assets/imgs/trees.png);
}
.container.card-materials img {
  width: 100%;
}

.text-objetivo img {
  width: 70px;
}
.text-objetivo h3 {
 color: white;
 width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}
a.nav-link {
  color: white;
    font-weight: 400;
    font-size: 17px;
    display: flex;
}
ul.navbar-nav {
  column-gap: 37px;
}

  /* Hero Section */
  .hero-section {
    position: relative;
  }
  .hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
  }
  .hero-text p {
    font-size: 18px;
    color: #ddd;
  }
  .carousel {
  position: relative;
}

  
 
  .carousel-caption h1 {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
  }
  .carousel-caption p {
    font-size: 18px;
    color: #ffffff;
  }
  .carousel-caption a {
    padding: 10px 20px;
    background-color: #9bc064;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    
    font-weight: 600;
  }
  .carousel-caption {
    position: absolute;
    right: 0!important;
    bottom: 1.25rem;
    left: 0!important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 100%;
}
nav.navbar.navbar-expand-lg.navbar-dark {
  background: #3d3b3200;
  z-index: 15;
  box-shadow: none;
  color: white;
}

  /* Cards Section */
  .cards-section {
    padding: 40px 0;
    background-color: #eef3f8;
  }
  .card i {
    font-size: 48px;
    color: #2b7a2b;
  }


  /* Features Section */
  .features {
    padding-bottom: 50px ;
  }
  .feature-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  img.category-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.service-box img {
  width: -webkit-fill-available;
}
.service-box .circle {
  width: 100px;
  background: #4BAF47;
  border-radius: 100%;
  top: -5rem;
  margin: auto;
  object-fit: contain;
  height: 100px;
  position: relative;
  padding: 27px;
  margin-bottom: -3rem;
}
figure.image-20 img {
  width: 100%;
  z-index: 10;
  position: relative;
}
figure.image.image-2 {
  padding-right: 0px;
  position: relative;
  right: -18px;
}
* h1{
  font-family: "Montserrat", sans-serif;
}
.carousel-indicators span.sub-title {
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
}

  /* Services Section */
 
  .context-box .circle {
    padding-bottom: 32px;
}

  .services h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .service-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 280px;
    margin-top: 5rem;
  }
  .service-box-two {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    margin-top: 5rem;
  }
  .service-box-two img{
    padding-bottom: 15px;
    filter: grayscale(1);
  }
  
  /* CTA Section */
  .cta-section {
    background-color: #9bc064;
    color: white;
    padding: 60px 0;
    text-align: center;
  }
  .cta-section a {
    background-color: #fff;
    color: #2b7a2b;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
  }

  /* Testimonials Section */
  .testimonials {
    padding: 50px 0;
    background-color: #f4f4f4;
  }
  .testimonial-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  /* Subscribe Section */
  .subscribe-section {
    background-color: #eef3f8;
    padding: 50px 0;
  }
  .subscribe-section h2 {
    margin-bottom: 30px;
  }
  .image_block_two img {
    width: 100%;
}
footer .container.card-materials {
  position: relative;
  top: -6rem;
  padding: 64px;
}
.card-materials input {
  padding: 10px;
  border-radius: 7px;
  border: 0px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #80808045;
}
.card-materials button {
  background: #020902;
  border: 0px;
  padding: 10px;
  border-radius: 7px;
  color: white;
}
footer .container.card-materials span {
  color: #0a3f0a;
}

  /* Footer */
  footer {
    background-image: url(https://html.laralink.com/ecozone/assets/img/nature/footer_bg.jpg);
    color: white;
    padding: 50px 0;
}
  footer h5 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  footer p, footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  footer a:hover {
    text-decoration: underline;
  }
  *{
   font-family: "Montserrat", sans-serif;
      
  }
  .fira-sans-regular {
 font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
 font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
 font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
 font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
 font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
 font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-regular-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
 font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}

  
 
  .gradient-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-image: url(../assets/imgs/gradient-resi-2.png);
  }
 
 
.text-objetivo h3 {
  color: white;
  width: 100%;
  padding: 10%;
  text-align: right;
}

section.cards-section img {
  width: 67px;
}
button.accordion-button {
  font-weight: 500;
  font-size: 20px;
}
.accordion-button:not(.collapsed)::after {
  filter: sepia(1);
}
section#testimonials {
  background: #F6FBF6;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.accordion-item {
  border: none;
}
section#services {
  padding-top: 5rem;
  background: #9bc06421;
}
div#carouselinfoControlsNoTouching {
  position: relative;
}
div#carouselServicesIndicators .text-card {
  color: white;
}
div#carouselServicesIndicators{
  position: relative;
}
div#carouselServicesIndicators .carousel-control-prev {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: -19rem;
  filter: invert(1);
}
div#carouselServicesIndicators  .carousel-control-next {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: -19rem;
  filter: brightness(3);
}
div#carouselServicesIndicators button {
  position: relative;
  display: flex;
  justify-content: space-around;
}
div#carouselinfoControlsNoTouching button {
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: -35rem;
}

.accordion-button:focus {
  border-color: #ffffff !important;
  box-shadow: none!important;
}
.accordion-item {
  margin-bottom: 13px;
  border: 0px;
}
#testimonials h1 {
  font-size: 37px;
  padding-bottom: 20px;
}
.accordion-button:not(.collapsed) {
  background-color: #ffffff!important;
  color: black!important;
}
.accordion-body {
  color: gray;
}
div#accordionFlushquest {
  color: white;
}
button.accordion-button.collapsed:hover {
  color: #259a2b;
}

  @media only screen and (min-width: 1200px) {
    .text-card {
      text-align: center;
      position: relative;
      top: 6rem;
  }
  .content-box.mr_40 {
    padding-bottom: 4rem;
  }
    
    .carousel-news {
      padding-bottom: 6rem;
      padding-top: 2rem;
    }
    .text-objetivo {
      background-image: url(../assets/imgs/trees.png);
      padding: 3rem;
      
  }
  .carousel-control-prev-icon{
    filter: invert(1);
  }
  
  button.carousel-control-next{
    filter: invert(1);
  }
  
  .circle-text {
    right: -83px;
    position: absolute;
    width: 180px !important;
    top: 11rem;
    border: solid 50px #00000069;
    height: 180px;
    border-radius: 100%;
    display: block;
  }
  .circle-text img{
  position: relative;
        top: -33px;
        left: -44px;
        animation: mymove 20s linear infinite;
        width: 143px;
    }
   
  
  .d-none-lg{
    display: none!important;
  }
 
    .text-hero {
      padding-left: 5rem!important;
    }
   
    
    .text-hero .carousel-indicators {
      position: relative;
      right: 0;
      bottom: -128px;
      left: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-right: 0px;
      margin-bottom: 1rem;
      margin-left: 0px;
      list-style: none;
      transform: rotate(90deg);
      height: 10px;
}
.text-hero .carousel-indicators [data-bs-target] {
  width: 14px !important;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #9bc064;
}

.text-hero h1 {
  font-size: 62px;
}
.text-hero .carousel-indicators [data-bs-target].active {
  padding-right: 6px;
  border-radius: 42%;
  height: 13px;
  transition: all 0.3s ease;
}
#carouselServicesIndicators .carousel-indicators [data-bs-target]{
  background-color: #4baf47;
}
#carouselServicesIndicators  span.sub-title{
color:white;
}
.carousel-item span.sub-title {
  font-size: 20px;
  color: white;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}
}
    
  .gradient-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      background-image: url(../assets/imgs/gradient-resi-2.png);
        padding-bottom: 15rem;
        background-position-y: 77%;
        background-position-x: center;
        background-size: cover;
    }
    .card-title {
      font-size: 21px;
      font-weight: bold;
    }
   
    .shape-3.rotate-me{
      height: 100px;
    }
    .shape-1{
      height: 170px;
    }
    .shape-2 {
      height: 170px;}
      .box{
        height: 25rem;
      }
      .shape-4 {
        height: 170px;}
       
        img.img-2-silider {
          position: relative;
          left: 10rem;
          object-fit: contain;
          width: 20rem;
          padding-top: 3rem;
        }
        
  
  ul.list-style-one.clearfix {
    text-align: left;
}
.carousel-control-next-icon, .carousel-control-prev{
  filter: contrast(0.5);
}
img.card-img-top {
  height: 230px;
  object-fit: cover;
}
.carousel-news .carousel-item .card-body {
  height: 150px;
}
.carousel-indicators [data-bs-target]{
  background-color: #9bc064!important;
}

  @media only screen and (max-width: 900px) {
    
    .text-objetivo img {
    width: 59px;
    margin-top: 3rem;
}
    #carouselHeroIndicators .carousel-indicators {
      position: relative;
  }
    
    #carousecontexMobile .carousel-item {
      display: block !important;
      text-align: center;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    position: relative!important;
    top: -14px!important;
  }
  div#carouselinfoControlsNoTouching {
    position: relative;
}
.button-control {
  position: absolute;
  top: 17rem;
  width: 100%;
}
  .d-none-sm{
    display: none!important;
  }

  #carousecontexMobile .carousel-item .col-md-4 {
      max-width: 100%;
      flex: 0 0 100%;
  }
    .content-box {
      text-align: left;
    }
    .box img {
      width: 30%;
  }
  .gradient-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin: auto;
      padding-top: 207px;
  }
  

.carousel-news .card {
  padding: 28px;
  margin-bottom: 30px;
}


   
    img.img-2-silider {
      position: relative;
      right: -15rem;
      object-fit: contain;
      width: 150px;
      top: 8rem;
  }
     /* Estilos personalizados para la tarjeta */
     .custom-card {
      background-color: #9bc064;
      border-radius: 20px;
      padding: 20px;
      color: white;
  }

  .custom-card h4 {
      font-size: 20px;
      font-weight: bold;
  }

  .custom-card img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

  .custom-card .stat-box {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      color: black;
  }

  .custom-card .stat-box h5 {
      font-size: 18px;
      font-weight: bold;
  }

  .custom-card .stat-box p {
      margin: 0;
      font-size: 12px;
  }

  .custom-grid img {
      border-radius: 15px;
      width: 100%;
  }

  .custom-grid .category {
      font-weight: bold;
      margin-top: 10px;
  }

  .section-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }
  .image-shape {
    width: 152px;
}
 
  .img-1-silider{
    position: relative;
    left: 10rem;
    object-fit: contain;
    width: 20rem;
  }
        
      
    
    
  .image_block_one .image img {

    padding: 0px !important;
   
    width: 100%;
}
  }
  
  .shape-3.rotate-me {
    background-image: url(https://www.robabikia.online/assets/images/shape/shape-5.png);
    
    
    width: 113px;
    position: absolute;
    top: 3rem;
    left: 0px;
    animation: rotateShape 10s infinite linear;
    right: 0px;
    margin: auto;
}
@keyframes rotateShape {
  from {
      transform: rotate(0deg); /* Comienza en 0 grados */
  }
  to {
      transform: rotate(360deg); /* Gira completamente */
  }
}
.carousel-item {
  max-width: 100%;
  
  object-fit: cover;
}
#carouselServicesIndicators .carousel-item {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 7rem;
  margin-top: 6rem;
  text-align: center;
}
div#carouselServicesIndicators {
  background-image: url('../assets/imgs/background-green.png');
  background-repeat: no-repeat;
}
.shape-1 {
  
  width: 170px;
  background-size: cover;
  position: absolute;
  top: -4rem;
  left: 4rem;
}
.shape-2 {
 
  width: 170px;
  background-size: cover;
  position: absolute;
  right: 35rem;
  top: 1rem;
}
.shape-4 {
 
  width: 170px;
  background-size: cover;
  position: absolute;
  right: -2rem;
  bottom: 18rem;
}







.content-box h2 {
  font-weight: 700;
}
.content-box p {
  font-size: 18px;
  color: #b1b0b0;
  
}
.sec-title {
  margin-top: 15px;
}

.row.clearfix-2 {
  padding-top: 50px;
  margin-bottom: -16px;
  
}


a.theme-btn.btn-one {
  background: #009ddc;
  color: white;
  text-align: center;
  padding: 17px;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0px;
  display: block;
  box-shadow: 8px 6px 1px 1px #065683 !important;
  width: 100%;
}
figure.image.image-1 {
  position: relative;
  
}

.image-box.pl_130.ml_30 {
  position: relative;
}
.image-shape {
  position: absolute;
  left: -10rem;
  top: -1rem;
}
.content-box span.sub-title {
  color: #9bc064;
  font-weight: 700;
}

.modal-dialog {
  position: relative;
  top: 10%!important;
}

@media only screen and (max-width: 1198px){
  .context-box {
    margin-bottom: 50px;
}
  .btn-box.mt-lg-5.d-none-lg.button-flotante {
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0px;
}
  div#carouselServicesIndicators .carousel-inner {
    position: relative;
    top: -2px;
}

.green-point {
  background: rgb(16, 156, 217);
        background: linear-gradient(145deg, rgba(16, 156, 217, 1) 26%, rgba(155, 192, 100, 1) 62%);
  width: 40px;
  height: 40px;
  position: relative;
  top: -8rem;
  left: 0.3rem;
  border-radius: 31px;
}
.circle-text img{
  position: relative;
        top: -33px;
        left: -44px;
        animation: mymove 20s linear infinite;
        width: 143px;
    }
div#carouselServicesIndicators .text-card {
  text-align: center;
  position: relative;
  top: 5rem;
}
div#carouselServicesIndicators .sub-title {
  font-size: 16px;
  color: white;
  font-weight: 400;
}
  .cifras h1.cs_funfact_number.cs_fs_70.mb-0 {
    font-size: 31px;
    padding-bottom: 37px;
    padding-right: 20px;
}
section#testimonials .image-column {
  height: 15rem;
  padding: 16px;
}
section#testimonials .sub-title {
  color: #2fb12f;
  font-size: 20px;
}
.cifras p.cs_funfact_title {
  padding-top: 12px;
}
  .circle-text {
    position: absolute;
}
.content-box  span.sub-title {
  color: #ffffff;
  font-weight: 600;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
}
figure.image.image-3 img {
  width: 100%;
}
.circle-text {
  right: 5.5rem;
  position: absolute;
  width: 180px !important;
  top: 6rem;
  border: solid 50px #00000069;
  height: 180px;
  border-radius: 100%;
  display: block;
}
}

  figure.image.image-2 img {
    width: 100%;
}
 
  
  section#hero {
    text-align: center;
    padding-bottom: 150px;
    padding-top: 3rem;
    background-image: url('../assets/imgs/hero_bg.jpg');
    position: relative;
    background-repeat: repeat-x;
    color: white;
  
  }

  a.theme-btn.btn-one {
    background: #009ddc;
    color: white;
    text-align: center;
    padding: 17px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0px;
    display: block;
    box-shadow: 8px 6px 1px 1px #065683 !important;
    width: 100%;
  }
  
 


  
  figure.image.image-3 {
    width: 100%;
}
  .image-shape {
    position: absolute;
    right: -6rem;
    top: 0px;
    width: 100%;
}
.box {
  background-image: none;
  background: #ffffff;
  border-radius: 108px;
}
.cards-section {
  padding: 40px 0;
  border-top-right-radius: 6rem;
 
  border-top-left-radius: 6rem;
  background-color: #ffffff;
  
}
  


.image-shape-99 img {
  width: 100%;
}


@media only screen and (min-width: 1199px){
  
  .green-point {
    background: rgb(16, 156, 217);
        background: linear-gradient(145deg, rgba(16, 156, 217, 1) 26%, rgba(155, 192, 100, 1) 62%);
      width: 40px;
      height: 40px;
      position: relative;
      top: -7.6rem;
  left: 1.3rem;
      border-radius: 31px;
  }
  .circle-text img{
    position: relative;
          top: -33px;
          left: -31px;
          animation: mymove 20s linear infinite;
          width: 143px;
      }

  .image-shape-87 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: -62px;
    left: 0px;
}
  .container.cifras h1 {
    font-size: 61px;
    padding-right: 14px;
  }
  .container.cifras {
    position: relative;
    top: -6rem;
}

.context-box {
  padding-right: 44px;
  padding-bottom: 3rem;
  filter: grayscale(1);
}
  p.cs_funfact_title.mb-0 {
    position: relative;
    padding-top: 1.3rem;
}
  section#hero {
    text-align: center;
    padding-bottom: 85px;
    padding-top: 11rem;
    background-image: url('../assets/imgs/hero_bg.jpg');
    position: relative;
    top: -8rem;
    color: white;
    background-repeat: repeat-x;
}
  .content-box p {
    width: 75%;
    padding-top: 1rem;
  }
  div#carouselHeroIndicators {
    position: relative;
    display: flex;
}
  .text-hero .content-box p {
    
    color: white;
}

  section#materials {
    margin-top: 7rem;
}
  .content-box {
    text-align: left;
  }
  .image-1 img {
    width: 400px;
    height: 700px;
    object-fit: cover;
}
  .cards-section {
    padding: 40px 0;
    border-top-right-radius: 6rem;
    position: relative;
    padding-bottom: 35px;
    border-top-left-radius: 6rem;
    background-color: #ffffff;
    
  }
  .carousel-news .card {
    border: 0px;
    box-shadow: 0px 0px 10px 1px #80808033;
    border-radius: 0px;
    padding: 42px;
}
  .cont-box {
    height: 160px;
}
  .box {
    background-image: url(../assets/imgs/tacho.png);
   
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: -10rem;
    padding-bottom: 0px !important;
  }
  .box .content {
    width: 166px;
      text-align: center;
      padding-top: 2rem;
      margin: auto;
  }
  .box .content p {
    color: #7f7f7f;
    padding-top: 10px;
    font-size: 13px;
  }
  
  figure.image.image-3 img{
    
    width: 260px;
    height: 390px;
  }
 
  figure.image.image-2 img{
   
    width: 260px;
    height: 390px;
    
  }
  
}
div#carouselinfoControlsNoTouching .card .btn-box a {
  width: 100%;
  padding: 16px;
  border-radius: 0px;
  display: block;
 
}

.background-materials {
  background-image: url(../assets/imgs/img-resi.jpg);
  height: 31rem;
  width: 100%;
  border-bottom-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  filter: brightness(0.8);
  background-position-y: -53rem;
}
.card-materials {
  background: #009ddc;
  color: white;
  padding: 49px;
  border-radius: 17px;
  
}
.scroll-to-hero {
  position: fixed;
  bottom: 95px;
  right: 20px;
  background-color: #9bc064;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
}
.scroll-to-hero svg.bi.bi-arrow-up-short {
  width: 32px;
  height: 50px;
  position: relative;
  top: -8px;
}
.scroll-to-hero:hover {
  background-color: #9bc064;
}

.scroll-to-hero i {
  font-size: 36px;
}
#dynamic-image-column {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; /* Asegúrate de que tenga una altura definida */
  transition: background-image 0.5s ease-in-out;
}

.modal-footer a img {
  width: 170px;
  height: 55px;
  cursor: pointer;
  
}
.modal-footer a img:hover{
  box-shadow: 0px 0px 7px 0px #13b1448a;
}